<form (ngSubmit)="saveProduct()">
    <div class="mb-3">
        <label for="inputProductName" class="form-label">Product Name:</label>
        <input type="text" class="form-control" name="inputProductName" [(ngModel)]="product.name">
    </div>
    <div class="mb-3">
        <label for="inputDescription" class="form-label">Description:</label>
        <textarea class="form-control" name="inputDescription" [(ngModel)]="product.description"></textarea>
    </div>
    <div class="mb-3">
        <label for="inputPrice" class="form-label">Price:</label>
        <input type="number" step="0.01" class="form-control" name="inputPrice" [(ngModel)]="product.price">
    </div>
   <div class="mb-3">
        <label for="inputFlavor" class="form-label">Flavor:</label>
        <input type="text" class="form-control" name="inputFlavor" [(ngModel)]="product.flavor.nome">
    </div>
    <div class="mb-3">
        <label for="inputQuantity" class="form-label">Quantity:</label>
        <input type="number" class="form-control" name="inputQuantity" [(ngModel)]="product.quantity">
    </div>
    <div class="mb-3">
        <label for="inputImageUrl" class="form-label">Image URL:</label>
        <input type="text" class="form-control" name="inputImageUrl" [(ngModel)]="product.imageUrl">
    </div>
    <div class="mb-3">
        <label for="inputStars" class="form-label">Stars:</label>
        <input type="number" class="form-control" name="inputStars" [(ngModel)]="product.stars">
    </div>
    <button type="submit" class="btn btn-primary">Save Product</button>
</form>
