<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
  <h2 class="text-center">Formulário de Pedido</h2>
  <div class="p-3">
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" [(ngModel)]="nome" name="nome">
      </div>
      
      <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="bairro" [(ngModel)]="bairro" name="bairro">
      </div>
      
      <div class="form-group">
        <label for="rua">Rua</label>
        <input type="text" class="form-control" id="rua" [(ngModel)]="rua" name="rua">
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="numero">Número</label>
          <input type="text" class="form-control" id="numero" [(ngModel)]="numero" name="numero">
        </div>
        
        <div class="form-group col-md-8">
          <label for="complemento">Complemento</label>
          <input type="text" class="form-control" id="complemento" [(ngModel)]="complemento" name="complemento">
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="troco">Troco para?</label>
        <input type="text" class="form-control" id="troco" [(ngModel)]="troco" name="troco">
      </div> -->
    </form>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <button type="button" class="btn btn-primary mr-2" (click)="openPaymentMethodModal()">
      <i class="fa fa-shopping-cart"></i>
      <span>Concluir</span>
    </button>

    <button type="button" class="btn btn-secondary" (click)="close()">
      <i class="fa fa-times"></i>
      <span>Fechar</span>
    </button>
  </div>
</div>
