/* your-component.scss */
.order-list {
    .order-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      background-color: #ffffff;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
      .product-info {
        display: flex;
        align-items: center;
  
        img {
          width: 50px; /* Adjust as needed */
          height: 50px; /* Adjust as needed */
          margin-right: 1rem;
        }
  
        .product-details {
          h3 {
            margin: 0;
            font-size: 1rem;
          }
          p {
            margin: 0;
            font-size: 0.8rem;
          }
        }
      }
  
      .product-price,
      .product-total {
        font-weight: bold;
      }
  
      .product-quantity {
        display: flex;
  
        button {
          background: none;
          border: 1px solid #ccc;
          padding: 0.5rem;
        }
  
        input {
          text-align: center;
          margin: 0 0.5rem;
          width: 50px;
        }
      }
  
      .remove-item {
        background-color: #e53935;
        border: none;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
  