<div class="orders-modal">

    <!-- <div class="header">
        <span>O mamamia o mamamia leu mi dom</span>
    </div> -->

    <div class="order-title">Meu Pedido</div>

    <div class="order-list">
        <div class="order-header">
            <span>Item</span>
            <span>Preço</span>
            <span>Excluir</span>
        </div>
        <div *ngFor="let product of data.orders" class="order-item">
            <span>{{ product.name }}</span>
            <span>{{ product.price }}</span>
            <button class="delete-button" (click)="deleteProduct(product)">🗑️</button>
        </div>
    </div>

    <div class="total">
        Total: R$ {{ getTotalPrice() }}
    </div>

    <div class="buttons">
        <button (click)="openOrderForm()">Pedir</button>
        <button (click)="closeModal()">Fechar</button>
    </div>
</div>
