.delivery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: #FFF; // Use the appropriate color or background image
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .text-content {
    max-width: 40%;
    
    h1 {
      font-size: 3rem; // Adjust size accordingly
      color: #f57c00; // Adjust the color accordingly
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 2rem; // Adjust size accordingly
      color: #333; // Adjust the color accordingly
      margin-bottom: 1rem;
    }

    p {
      color: #666; // Adjust the color accordingly
      margin-bottom: 2rem;
    }

    .actions {
      display: flex;
      gap: 1rem;

      button {
        padding: 1rem 2rem;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.05);
        }
      }

      .register {
        background-color: #333;
        color: #fff;

        &:hover {
          background-color: #444;
        }
      }

      .login {
        background-color: #f57c00;
        color: #fff;

        &:hover {
          background-color: #ff8400;
        }
      }
    }

    .rating {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      span {
        color: #ffcc00; // Use color for the stars
        margin-right: 0.5rem;
      }

      p {
        color: #666;
        font-size: 0.875rem;
      }
    }
  }

  .text-content {
    h1 {
      font-size: 2rem; // smaller font for mobile
    }

    h2 {
      font-size: 1.5rem; // smaller font for mobile
    }

    .actions {
      flex-direction: column; // Stack buttons vertically on mobile
      gap: 10px;
      
      button {
        width: 100%; // Full width buttons on mobile
      }
    }

    .rating {
      flex-direction: column; // Stack rating vertically on mobile
      align-items: center;

      span {
        margin-bottom: 0.5rem;
      }
    }
  }

  .food-images {
    margin-top: 20px; // Add space above the image on mobile
    width: 80%; // Adjust size accordingly
    height: 200px; // Adjust height accordingly
    // background: url('https://raw.githubusercontent.com/Guilherme-Denarde/Trabalhos_Facu/images/17372%20%5BConverted%5D%201.png') no-repeat center/contain;
  }

  // Media queries for tablets
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left; // Align text to the left for tablets and larger

    .text-content {
      max-width: 40%;
      
      .actions {
        flex-direction: row; // Horizontal buttons for tablet and larger
      }

      .rating {
        flex-direction: row; // Horizontal rating for tablet and larger
      }
    }

    .food-images {
      width: 50%; // Adjust size accordingly
      height: auto; // Adjust height accordingly
    }
  }

  // Media queries for desktops
  @media (min-width: 1024px) {
    .text-content {
      h1 {
        font-size: 3rem; // larger font for desktop
      }

      h2 {
        font-size: 2rem; // larger font for desktop
      }

      .actions {
        gap: 1rem;
        
        button {
          width: auto; // Auto width for desktop
        }
      }
    }

    .food-images {
      width: 60%; // Adjust size accordingly
      // If your design requires, adjust padding/margins as well
    }
  }
}
