<div class="container">
    <h3 class="alert alert-primary">List of Registered Users</h3>
    <td><button class="btn btn-primary" (click)="adicionar(modal1)">Add User</button></td>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            #ID
                        </th>
                        <th scope="col">
                            Name
                            <img src="https://raw.githubusercontent.com/Guilherme-Denarde/Trabalhos_Facu/images/down-filled-triangular-arrow.png" (click)="sortByName()" style="width: 12px; cursor:pointer;">
                        </th>
                        <th scope="col">
                            Email
                            <img src="https://raw.githubusercontent.com/Guilherme-Denarde/Trabalhos_Facu/images/down-filled-triangular-arrow.png" (click)="sortByEmail()" style="width: 12px; cursor:pointer;">
                        </th>
                        <th scope="col">Active</th>
                        <div style="position: relative;">
                            <th scope="col">
                                Last Login
                                <img src="https://raw.githubusercontent.com/Guilherme-Denarde/Trabalhos_Facu/6b31c229cb547eb10afa2d430bd5a4eb103528ab/calendar-range-fill.svg" (click)="toggleDateFilter()" style="width: 20px; cursor:pointer;">
                            </th>
                            <div *ngIf="showDateFilter" style="position: absolute; top: 100%; left: 0; background-color: white; border: 1px solid #ccc; padding: 10px;">
                                <div *ngIf="showDateFilter" style="position: absolute; background-color: white; border: 1px solid #ccc; padding: 10px;">
                                    <div>
                                        <button (click)="prevYear()">&#171;</button>
                                        {{ currentYear }}
                                        <button (click)="nextYear()">&#187;</button>
                                    </div>
                                    <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; margin-top: 10px;">
                                        <div *ngFor="let month of months" [class.active]="selectedMonth === month" (click)="filterByMonth(month)" style="cursor: pointer; padding: 5px; text-align: center;">
                                            {{ month }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of lista; let i = index">
                        <th scope="row">{{ user.userId }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                        <td>{{ user.lastLogin | date:'medium' }}</td>
                        <td>
                            <button class="btn btn-primary" (click)="editar(modal1, user, i)">Edit</button>
                            <button class="btn btn-danger" (click)="delete(user, i)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">User Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-register-userdetails [registerUser]="selectedUserForEdit" (retorno)="addOuEditarUser($event)"></app-register-userdetails>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
