<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MAMMAMIA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <!-- Conditionally render links based on role -->
                    <li class="nav-item" *ngIf="role === 'MANAGER' || role === 'ADMIN'">
                        <a class="nav-link" href="/admin/product">Produtos</a>
                    </li>
                    <li class="nav-item" *ngIf="role === 'MANAGER' || role === 'ADMIN'">
                        <a class="nav-link" href="/admin/orders">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">Sair</a>
                    </li>
                </ul>

            <div class="cart-icon-container">
                <span class="total-price">{{ totalPrice }}</span>
                <!-- <i class="fas fa-shopping-cart"></i> -->
                <span class="item-count">{{ itemCount }}</span>
                <i type="button" (click)="openOrdersList()" class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
</div>

</nav>