h2 {
    color: #333;
  }
  
  table {
    width: 60vw;
  }
  
  table th {
    text-align: center;
  }
  
  table td {
    text-align: center;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .btn-dialog {
    display: flex;
    justify-content: flex-end;
    color: #333;
  
    button {
      background-color: #ffff8c;
    }
  
    .excluir {
      cursor: pointer;
    }
  
    @media screen and (max-width: 600px) {
      justify-content: center;
  
      button .span-icon {
        display: none;
      }
  
      button .dialog-icon {
        padding-right: 0;
      }
    }
  }
  