

<div class="category-selector">
    <button class="category-button active" (click)="selectCategory('tudo')">
      <i class="fas fa-icons"></i>
      <span>All</span>
    </button>
    <button class="category-button" (click)="selectCategory('pizza')">
      <i class="fas fa-pizza-slice"></i>
      <span>Pizza</span>
    </button>
    <button class="category-button" (click)="selectCategory('bebida')">
      <i class="fas fa-wine-glass-alt"></i>
      <span>Bebida</span>
    </button>
    <button class="category-button" (click)="selectCategory('porcao')">
      <i class="fas fa-utensils"></i>
      <span>Porção</span>
    </button>
  </div>
  